@import '../../styles/partials/variable';

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--vertical-space, 8px);
    padding-bottom: var(--vertical-space, 8px);

    &-spinner {
        border: 2px solid $alabaster-color;
        border-top-color: $blue-color;
        border-bottom-color: $blue-color;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin: 8px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}