@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.video-detail {
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        margin: 0;
    }

    &__tile {
        display: flex;
        color: $silver-color;

        &-item {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__channel {
        margin: 0;
        color: $black-color;
    }
}

@include tablet {
    .video-detail {
        &__tile {
            justify-content: space-between;

            &-item {
                flex-direction: row;
                flex-grow: 0;
                align-items: center;
            }
        }
    }
}