@import './variable';
@import './mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $mercury-color;
}

@include tablet {
    .divider {
        &.mobile {
            display: none;
        }
    }
}