// colors
$blue-color: #0095FF;
$black-color: #323232;
$silver-color: #AFAFAF;
$white-color: #FFFFFF;
$blue-dark-color: #0065AD;
$black-dark-color: #000000;
$mercury-color: #E1E1E1;
$alabaster-color: #FAFAFA;

// breakpoint
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;