@import '../..//styles/partials/variable';
@import '../../styles/partials/mixins';

.video-form {
    display: flex;
    flex-direction: column;
    gap: 16px;



    &__fields {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &--glow {
            flex-grow: 1;
        }
    }

    &__image {
        width: 100%;
        background-color: $mercury-color;
        aspect-ratio: 16/9;
        border-radius: 4px;
    }

    &__set {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex-grow: 1;
    }

    &__text {
        padding: 12px;
        background-color: $alabaster-color;
        border-radius: 4px;
        border: none;
        outline: 1px solid $mercury-color;


        &:active,
        &:focus-within {
            outline: 2px solid $blue-color;
        }

        &.error {
            outline: 1px solid #D22D2D;
        }

        &--glow {
            flex-grow: 1;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    label {
        color: $silver-color;
    }

    textarea {
        resize: vertical;
        height: 100px;
    }
}

@include tablet {
    .video-form {
        gap: 24px;

        &__image {
            width: 360px;
        }

        &__actions {
            flex-direction: row-reverse;
        }
    }
}

@include desktop {
    .video-form {
        &__fields {
            flex-direction: row;
        }
    }
}