@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 16px;
        width: 100%;

        .primary-button {
            order: 1;
        }
    }

    &__search-form {
        display: flex;
    }

    &__search-field {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
        gap: 8px;
        padding: 0 12px;
        background-color: $alabaster-color;
        border-radius: 4px;
        outline: 1px solid $mercury-color;

        img {
            width: 18px;
            height: 18px;
        }

        &:active,
        &:focus-within {
            outline: 2px solid $blue-color;
        }
    }

    &__search-bar {
        flex-grow: 1;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

@include tablet {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 24px;

        &__search-field {
            padding: 0 16px;
            width: 240px;
        }

        &__nav {
            flex-wrap: nowrap;
            width: auto;


            .primary-button {
                order: 0;
            }
        }
    }
}

@include desktop {
    .header {
        width: 80%;
        margin: auto;
    }
}