@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.upload-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px 16px;
}

@include tablet {
    .upload-section {
        padding: 36px 24px 24px;
    }
}