@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.video {
    background-color: $black-dark-color;
    display: flex;
    justify-content: center;

    &__content {
        position: relative;
    }

    &__player {
        aspect-ratio: 16/9;
        max-width: 100%;
        max-height: 60vh;
    }
}

.control {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;

    &__button {
        border: none;
        background-color: transparent;
    }

    &__bar {
        flex-grow: 1;
        display: flex;
        gap: 16px;
        align-items: center;
    }

    &__seek {
        flex-grow: 1;
        background-color: blanchedalmond;
        height: 4px;
        border-radius: 2px;
    }

    &__progress {
        background-color: blue;
        height: 100%;
        width: 0px;
    }

    &__time {
        color: white;
        font-size: 14px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    >* {
        border-radius: 4px;
        padding: 8px 16px;
        background-color: #0000006c;
    }
}

@include desktop {
    .video {
        &__player {
            max-height: 70vh;
        }
    }
}