@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.video {
    background-color: $black-dark-color;

    &__player {
        display: block;
        margin: auto;
        aspect-ratio: 16/9;
        max-width: 100%;
        max-height: 60vh;
    }
}

@include desktop {
    .video {
        &__player {
            max-height: 70vh;
        }
    }
}