@import '../../styles/partials/variable';
@import '../../styles/partials/mixins';

.comments {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;

    .comment {
        display: flex;
        flex-direction: row;
        gap: 16px;

        &__context {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__date {
            color: $silver-color;
        }
    }
}

@include tablet {
    .comments {
        padding: 0 24px;
    }
}