@import './styles/partials/variable';
@import './styles/partials/mixins';
@import './styles/partials/topography';
@import './styles/partials/global';

body {
    margin: 0;
    padding: 0;
    color: $black-color;
}

@include tablet {
    aside {
        width: 40%;
    }
}

@include desktop {
    main {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
    }

    article {
        width: 65%;
        border-right: 1px solid $mercury-color;
    }

    aside {
        width: 35%;
    }
}